@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lys modus */
:root[data-theme="light"] {
  --background: #f1f1f3;
  --navbar: #e3e3e8;
  --header: rgba(255, 255, 255, 0.7);
  --text: #082126;

  --content: #ffffff;
  --selection: #f7f6f9;
  --prize: #8fdd4b;

  --dot-selected: #a0a0a0;
  --dot: #cccccc;
}

/* Mørk modus */
:root[data-theme="dark"] {
  --background: #151518;
  --navbar: #1b1b20;
  --header: rgba(27, 27, 32, 0.7);
  --text: #ededed;

  --content: #1b1b20;
  --selection: #27262d;
  --prize: #70be2c;

  --dot-selected: #a0a0a0;
  --dot: #505050;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
